<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atecher.blog.mapper.content.TagMapper">
	<select id="getHotTagsTop" parameterType="int" resultType="com.atecher.blog.model.Tag">
		select id,tag,code,counts from con_tag order by counts desc limit #{value}
	</select>
	<select id="selectTags" resultType="com.atecher.blog.model.Tag">
		select id,tag,code,counts from con_tag order by counts desc
	</select>
	<select id="getTagByTag" parameterType="string" resultType="com.atecher.blog.model.Tag">
		select id,tag,code,counts from con_tag where tag=#{value} or code=#{value}
	</select>
	<select id="deleteTag" parameterType="long">
		delete from con_tag where id=#{value}
	</select>
	<select id="checkTag" parameterType="string" resultType="long">
		select id from con_tag where tag=#{value}
	</select>
	<insert id="insertTag" parameterType="com.atecher.blog.model.Tag" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into con_tag(tag,code,counts) values(#{tag},#{code},1)
	</insert>
	<update id="updateTagCount" parameterType="map">
		update con_tag set counts=#{counts} where id=#{id}
	</update>

</mapper>
